<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />

    <title>Meow | Let the cat out of the bag</title>

    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="copyright" content="" />

    <link rel="shortcut icon" href=fav.ico" />

    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="./css/new.css" />
    <link rel="stylesheet" href="./css/buttons.css" />

</head>

<body>
    
	<header>
	
		<div class="container">
		
			<a href="./index.html" id="logo">
				meow
			</a>
			
			<div id="nav">
			    <a href="/login" class="button left"><span class="key icon"></span>LOGIN</a><a href="/login" class="button primary right"><span class="user icon"></span>REGISTER</a>
			</div>
			
		</div>
		
	</header>

	<div class="container">
		<div id="main">

			<div id="content">
				<div class="padding">
				  
				    <form id="makepost">
				    	<label for="meowtext">LET THE CAT OUT OF THE BAG...</label>
				 		<textarea name="meowtext"></textarea> 
				 		
				 		<div class="right"><a class="button big"><span class="icon pen"></span>POST</a></div>
				 		
				 		<a class="button big"><span class="icon plus"></span>ADD MEDIA</a>
				 		
				    </form>
				    
				    <div id="posts">
				    
				    
				        <div class="post" id="0345345">
				        
				            <div class="meow">
				                <h3>Some random dude</h3>
				                The weather started to fine up today, so I was out in the garden which meant more photo opportunities 'Lift Off- Best Viewed Large' On Black Taken with a Sony DSC-H1
				            </div>
				            
				            <div class="displaypic">
				                <img src="./ewy.jpg">
				            </div>
				            
				            <div class="clear"></div>
				            
				        </div>
				        
				        				    
				        <div class="post" id="0345345">
				        
				            <div class="meow">
				            
				                 <div class="media"><img src="./bee.jpg"></div>
				                
				                <h3>Some random dude</h3>
				                The weather started to fine up today, so I was out in the garden which meant more photo opportunities 'Lift Off- Best Viewed Large' On Black Taken with a Sony DSC-H1
				                
				            </div>
				            
				            <div class="displaypic">
				                <img src="./ewy.jpg">
				            </div>
				            
				            <div class="clear"></div>
				            
				        </div>
				    
				    
				        <div class="post" id="0345345">
				        
				            <div class="meow">
				                <h3>Some random dude</h3>
				                The weather started to fine up today, so I was out in the garden which meant more photo opportunities 'Lift Off- Best Viewed Large' On Black Taken with a Sony DSC-H1
				            </div>
				            
				            <div class="displaypic">
				                <img src="./ewy.jpg">
				            </div>
				            
				            <div class="clear"></div>
				            
				        </div>
				    
				    
				        <div class="post" id="0345345">
				        
				            <div class="meow">
				                <h3>Some random dude</h3>
				                The weather started to fine up today, so I was out in the garden which meant more photo opportunities 'Lift Off- Best Viewed Large' On Black Taken with a Sony DSC-H1
				            </div>
				            
				            <div class="displaypic">
				                <img src="./ewy.jpg">
				            </div>
				            
				            <div class="clear"></div>
				            
				        </div>
				        
				        				    
				        <div class="post" id="0345345">
				        
				            <div class="meow">
				                <h3>Some random dude</h3>
				                The weather started to fine up today, so I was out in the garden which meant more photo opportunities 'Lift Off- Best Viewed Large' On Black Taken with a Sony DSC-H1
				            </div>
				            
				            <div class="displaypic">
				                <img src="./ewy.jpg">
				            </div>
				            
				            <div class="clear"></div>
				            
				        </div>
				        
				        				        				    
				        <div class="post" id="0345345">
				        
				            <div class="meow">
				                <h3>Some random dude</h3>
				                The weather started to fine up today, so I was out in the garden which meant more photo opportunities 'Lift Off- Best Viewed Large' On Black Taken with a Sony DSC-H1
				            </div>
				            
				            <div class="displaypic">
				                <img src="./ewy.jpg">
				            </div>
				            
				            <div class="clear"></div>
				            
				        </div>
				        
				        
				        				        				    
				        <div class="post" id="0345345">
				        
				            <div class="meow">
				                <h3>Some random dude</h3>
				                The weather started to fine up today, so I was out in the garden which meant more photo opportunities 'Lift Off- Best Viewed Large' On Black Taken with a Sony DSC-H1
				            </div>
				            
				            <div class="displaypic">
				                <img src="./ewy.jpg">
				            </div>
				            
				            <div class="clear"></div>
				            
				        </div>
				        
				        
				        				        				    
				        <div class="post" id="0345345">
				        
				            <div class="meow">
				                <h3>Some random dude</h3>
				                The weather started to fine up today, so I was out in the garden which meant more photo opportunities 'Lift Off- Best Viewed Large' On Black Taken with a Sony DSC-H1
				            </div>
				            
				            <div class="displaypic">
				                <img src="./ewy.jpg">
				            </div>
				            
				            <div class="clear"></div>
				            
				        </div>
				        
				        
				        				        				    
				        <div class="post" id="0345345">
				        
				            <div class="meow">
				                <h3>Some random dude</h3>
				                The weather started to fine up today, so I was out in the garden which meant more photo opportunities 'Lift Off- Best Viewed Large' On Black Taken with a Sony DSC-H1
				            </div>
				            
				            <div class="displaypic">
				                <img src="./ewy.jpg">
				            </div>
				            
				            <div class="clear"></div>
				            
				        </div>
				        
				        
				        				        				    
				        <div class="post" id="0345345">
				        
				            <div class="meow">
				                <h3>Some random dude</h3>
				                The weather started to fine up today, so I was out in the garden which meant more photo opportunities 'Lift Off- Best Viewed Large' On Black Taken with a Sony DSC-H1
				            </div>
				            
				            <div class="displaypic">
				                <img src="./ewy.jpg">
				            </div>
				            
				            <div class="clear"></div>
				            
				        </div>
				    
				    
				    </div>
				    
				</div>
			</div>
			
					
			<div id="sidebar">
				<div class="padding">
				
				    <div id="userbox">
				    	<img src="ewy.jpg" id="mepic" alt="Me!">
				        <h3>EWAN &#8220;EWY&#8221; BAIRD</h3>
				    </div>
				    
				    <div class="divider"></div>
				    
				    <div id="lastmeow">
				        <span class="num">Feb 14th</span> This area will show the last update by this user. With or without the media they attached? Who knows.
				    </div>
				    
				    <div class="divider"></div>
				    
				    <div class="title"><span class="num">12</span> FOLLOWERS</div>
				    <div id="followers" class="usericons">
				    	<img src="me.jpg" alt="Me!"><img src="me.jpg" alt="Me!"><img src="me.jpg" alt="Me!"><img src="me.jpg" alt="Me!"><img src="me.jpg" alt="Me!"><img src="me.jpg" alt="Me!"><img src="me.jpg" alt="Me!"><img src="me.jpg" alt="Me!"><img src="me.jpg" alt="Me!"><img src="me.jpg" alt="Me!"><img src="me.jpg" alt="Me!">
				    </div>
				    
				    <div class="divider"></div>
				    
				    <div class="title"><span class="num">1,322</span> FOLLOWING</div>
				    <div id="following" class="usericons">
				    	<img src="me.jpg" alt="Me!"><img src="me.jpg" alt="Me!"><img src="me.jpg" alt="Me!"><img src="me.jpg" alt="Me!"><img src="me.jpg" alt="Me!"><img src="me.jpg" alt="Me!"><img src="me.jpg" alt="Me!"><img src="me.jpg" alt="Me!"><img src="me.jpg" alt="Me!"><img src="me.jpg" alt="Me!"><img src="me.jpg" alt="Me!"><img src="me.jpg" alt="Me!"><img src="me.jpg" alt="Me!"><img src="me.jpg" alt="Me!"><img src="me.jpg" alt="Me!"><img src="me.jpg" alt="Me!">
				    </div>
				    
				    
				</div>
			</div>
			
			<div class="clear"></div>
			
		</div>
	</div>

    <div id="footer">
        <div class="container">
            <div class="padding">
                This is the footer!
            </div>
        </div>
    </div>
    
	<script type="text/Javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>

</body>
</html>
