{% extends "base.html" %}

{% block title %}meow | let the cat out of the bag{% endblock %}

{% block main %}
				  
<div id="content">
	<div class="padding">
	  
	    <form id="addMeow">
            {% csrf_token %}
	    	<label for="meowtext">What's happening? *purr purr*</label>
	 		<textarea id="text" name="text"></textarea> 
	 		
	 		<div class="right"><a class="button big" onclick="addMeow();"><span class="icon pen"></span>POST</a></div>
	 		
	 		<a class="button big"><span class="icon plus"></span>ADD MEDIA</a>
	    </form>
	    
	    <div id="posts">
	   
            <div id="loading">
	            <img src="/site_media/images/loading.gif" /> Loading...
            </div>
            
            <!-- This is where the meows go! -->
	    
	    </div>
	    
	</div>
</div>

		
<div id="sidebar">
	<div class="padding">
	
	    <div id="userbox">
	    	<a href="/user/{{ user.username }}/"><img src="/site_media/images/{{ user.pk }}.jpg" id="mepic" alt="{{ user.username }}"></a>
	        <h3><a href="/user/{{ user.username }}/">{{ user.first_name }} {{ user.last_name }}</a></h3>
	    </div>
	    
	    <div class="divider"></div>
	    
	    <div id="lastmeow">
	        <span class="num"><a href="/meow/{{ last_meow.pk }}/">{{ last_meow.time|date:"b jS"|capfirst }}</a></span><span class="meow"> {{ last_meow.meow }} </span>
	    </div>
	    
	    <div class="divider"></div>
	    
	    <div class="title"><span class="num">{{ following|length }}</span> FOLLOWING</div>
	    <div id="following" class="usericons">
	    	{% for f in following %}
	    	    <a href="/user/{{ f.username }}/"><img src="/site_media/images/{{ f.pk }}.jpg"></a>
	    	{% empty %}
	    	    You don't follow anyone. That's a bit sad.
	    	{% endfor %}
	    </div>
	    
	    <div class="divider"></div>
	    
	    	    <div class="title"><span class="num">{{ follows|length }}</span> FOLLOWER{{ follows|length|pluralize|upper }}</div>
	    <div id="followers" class="usericons">
	    	{% for f in follows %}
	    	    <a href="/user/{{ f.username }}/"><img src="/site_media/images/{{ f.pk }}.jpg"></a>
	    	{% empty %}
	    	    No one follows you. Go make so friends.
	    	{% endfor %}
	    </div>
	    
	    <div class="divider"></div>
	    
	</div>
</div>

<div class="clear"></div>
			
{% endblock %}
